* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Papyrus', sans-serif;
}

body {
    color: white;
    background-image: url('tavern.jpeg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem;
}

h1,
p {
    margin-bottom: 5rem;
}

.circles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circles button {
    background-color: transparent;
    height: 5rem;
    width: 5rem;
    border: 0.5px solid black;
    border-radius: 100px;
    margin: 1rem;
}

.circles button:hover {
    opacity: 50%;
}

.btn.active {
    background-image: url('mug.jpeg');
    background-size: cover;
}

#start,
#stop {
    margin-top: 5rem;
    height: 3rem;
    width: 5rem;
    border: none;
    border-radius: 20px;
    color: black;
    background-color: wheat;
}

#start:hover,
#stop:hover {
    opacity: 50%;
}

.overlay {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.458);
    position: fixed;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    position: relative;
    width: 20rem;
    height: 10rem;
    padding: 1rem;
    border-radius: 10px;
}

#close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: red;
    font-size: 20px;
    background-color: white;
    border: none;
}

.hidden {
    display: none;
}